@charset 'utf-8';
html{color:#fff;background:#FFF;font-family:'Microsoft YaHei';font-size: 12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,input,button,textarea,p,th,td,strong{padding:0;margin:0;font-family:'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
a{text-decoration:none; color:#fff; outline:none;}/*此处待添加默认链接颜色*/
a:hover{color: ;}
var,em,strong{font-style:normal;}
em,strong,th,var{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4{font-size:100%;font-weight:normal;}
input,button,textarea,select,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.wrap {
    min-width: 980px;
    _min-width: 980px;
}
/*头部样式  开始*/
.head-out {
    height: 84px;
    padding-top: 30px;
    background: #39f;
}
.head {
    width: 980px;
    margin: 0 auto;
}
.logo {
    float: left;
    display: block;
    width: 120px;
    height: 50px;
}
.head img {
    float: left;
    width: 100%;
}
.tits-out {
    float: left;
    overflow: hidden;
    width: 860px;
    height: 44px;
}
.tits {
    width: 858px;
    padding: 12px 0 0 34px;
}
.tits a {
    float: left;
    display: block;
    padding-right: 16px;
    line-height: 32px;
    font-size: 16px;
    text-decoration: none;
}
.tits a div {
    float: left;
    width: 32px;
    height: 32px;
}
.tits a span {
    float: left;
    padding-left: 8px;
}
.tits a:hover {
    color: #FF8100;
}
.home div {
    background: url("../images/common.png") 0px -62px no-repeat;
}
.course div {
    background: url("../images/common.png") -34px -62px no-repeat;
}
.teacher div {
    background: url("../images/common.png") -105px -62px no-repeat;
}
.job div {
    background: url("../images/common.png") -70px -62px no-repeat;
}
.project div {
    background: url("../images/common.png") -142px -62px no-repeat;
}
.study div {
    background: url("../images/common.png") -178px -62px no-repeat;
}
.us div {
     background: url("../images/common.png") -212px -62px no-repeat;
}
/*导航hover效果*/
.home:hover div {
    background: url("../images/common.png") 0px -22px no-repeat;
}
.course:hover div {
    background: url("../images/common.png") -34px -22px no-repeat;
}
.teacher:hover div {
    background: url("../images/common.png") -105px -22px no-repeat;
}
.job:hover div {
    background: url("../images/common.png") -70px -22px no-repeat;
}
.project:hover div {
    background: url("../images/common.png") -142px -22px no-repeat;
}
.study:hover div {
    background: url("../images/common.png") -178px -22px no-repeat;
}
.us:hover div {
    background: url("../images/common.png") -212px -22px no-repeat;
}
/*头部样式  结束*/

/* 公共样式列表开始 */
.public_list {
    width: 250px;
}
.public_list h2, .public_list h3 {
    position: relative;
    height: 41px;
    border-bottom: 4px solid #ffa18f;
}
.public_list h2 span {
    color: #ffa18f;
    font-size: 24px;
}
.public_list h2 a {
    position: absolute;
    top: 8px;
    right: 0px;
    width: 25px;
    height: 25px;
    background: url("../images/public_list.png") -24px -24px;
}
.public_list ul {
    padding: 25px 0px 17px 0px;
}
.public_list .public_list_ul {
    overflow: hidden;
    height: 190px;
    padding-bottom: 0px;
}
.public_list li {
    float: left;
    height: 24px;
    margin-bottom: 14px;
}
.public_list li div {
    float: left;
    overflow: hidden;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 50%;
    color: #fff;
    background: #bebebe;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}
.public_list li a {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    display: block;
    width: 212px;
    height: 24px;
    color: #000;
    line-height: 24px;
    font-size: 14px;
}
.public_list h3 {
    height: 15px;
}
.public_list h3 span {
    position: absolute;
    top: 0px;
    left: 110px;
    width: 33px;
    height: 34px;
    background: url("../images/public_list.png") -66px -19px;
    cursor: pointer;
    cursor: hand;
}
.content a:hover {
    color: #ffa18f;
}
/* 公共样式列表结束 */
/*底部样式  开始*/
.footer-out {
    background: #1D1B1B;
}
.footer-com {
    position: relative;
    width: 980px;
    height: 300px;
    padding-top: 80px;
    margin: 0 auto;
}
.footer-com a {
    text-decoration: none;
}
.footer-com a:hover {
    color: #FF8100;
}
.top {
    position: absolute;
    left: 50%;
    top: -44px;
    width: 88px;
    height: 88px;
    margin-left: -44px;
    border-radius: 50%;
    background: url("../images/common.png") 0px -134px no-repeat;
    text-align: center;
    line-height: 88px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}
.top:hover {
    color: black;
}
.links {
    float: left;
    width: 300px;
    padding-left: 10px;
    padding-right: 90px; 
}
.links span {
    display: block;
    float: left;
    width: 50%;
}
.links h2, .content-us h2 {
    height: 24px;
    margin-bottom: 28px;
    line-height: 24px;
    font-size: 24px;
}
.footer-com a {
    display: block;
    height: 22px;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 14px;
}
.content-us {
    float: left;
    width: 224px;
}
.content-us p {
    height: 22px;
    line-height: 22px;
    margin-bottom: 20px;
    text-indent: 3em;
    font-size: 14px;
}
.message-out {
    float: left;
    overflow: hidden;
    width: 580px;
}
.message {
    width: 624px;
}
.message h2 {
    height: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    text-indent: 0.3em;
}
.message div {
    float: left;
    width: 140px;
    padding-right: 20px;
}
.message .fot-project {
    width: 122px;
}
.footer-com .mes-course, .footer-com .mes-teacher, .footer-com .mes-project, .footer-com .mes-study {
    float: left;
    width: 34px;
    height: 34px;
    padding: 0;
    background: url("../images/common.png") 0px -96px no-repeat;
}
.footer-com .mes-teacher {
    background: url("../images/common.png") -34px -96px no-repeat;
}
.footer-com .mes-project {
    background: url("../images/common.png") -67px -96px no-repeat;
}
.footer-com .mes-study {
    background: url("../images/common.png") -102px -96px no-repeat;
}
.footer-com .message a {
    padding-left: 40px;
}
.copyright {
    position: relative;
    float: left;
    width: 980px;
    height: 20px;
    padding-top: 30px;
}
.copyright h2 {
    width: 340px;
    height: 14px;
    margin: 0 auto;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
}
.cop-linel, .cop-liner {
    position: absolute;
    top: 36px;
    width: 320px;
    height: 2px;
    background: url("../images/common.png") -9px -287px;
}
.cop-linel {
    left: 0;
}
.cop-liner {
    right: 0px;
}

